.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
}


.text {
  margin-right: 20px;
}

.image-container {
  flex-grow: 1; /* Allow the image container to grow and fill available space */
  margin-left: 20px; /* Add margin to separate the text and image */
  padding-right: 20px; /* Add padding on the right side */
  display: flex;
  justify-content: flex-end; /* Align the image to the right within the container */
}


.image {
  width: 100%; /* Adjust the width to your desired size */
  max-width: 1080px; /* Set a maximum width if needed */
  height: auto;
}
