.header {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navLinks {
  margin-left: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold; /* Add font-weight property to make the links thicker */
}

.navLinks:hover {
  color: #555;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
